<?xml version="1.0" encoding="UTF-8"?>
<events>
    <event>
        <id>1451030179478</id>
        <name>SYS_INIT</name>
        <type>1</type>
        <descript>描述</descript>
    </event>
    <event>
        <id>20160707170751959</id>
        <name>REQ_LOAD_HERO</name>
        <type>2</type>
        <descript>导入hero数据</descript>
    </event>
    <event>
        <id>20160711144512527</id>
        <name>REQ_BACK</name>
        <type>2</type>
        <descript>返回</descript>
    </event>
    <event>
        <id>20160711144552045</id>
        <name>REQ_FORM_UI_INIT</name>
        <type>1</type>
        <descript>标签页是否显示</descript>
    </event>
    <event>
        <id>20160711144638668</id>
        <name>FORM_HEROS</name>
        <type>1</type>
        <descript>列表页面</descript>
    </event>
    <event>
        <id>20160711144652699</id>
        <name>FORM_FLASH</name>
        <type>1</type>
        <descript>启动页</descript>
    </event>
    <event>
        <id>20160711160808712</id>
        <name>FORM_MINE</name>
        <type>1</type>
        <descript>我的</descript>
    </event>
    <event>
        <id>20160711160818512</id>
        <name>FORM_DETAIL</name>
        <type>1</type>
        <descript>详情</descript>
    </event>
    <event>
        <id>20160711160839687</id>
        <name>FORM_PERSON</name>
        <type>1</type>
        <descript>个人</descript>
    </event>
    <event>
        <id>20160711160910990</id>
        <name>REQ_HOTEL_LIST</name>
        <type>1</type>
        <descript>请求列表</descript>
    </event>
    <event>
        <id>20160711160916054</id>
        <name>REP_HOTEL_LIST_SUCCESS</name>
        <type>1</type>
        <descript>列表请求成功</descript>
    </event>
    <event>
        <id>20160711160930134</id>
        <name>REP_HOTEL_LIST_FAIL</name>
        <type>1</type>
        <descript>列表请求失败</descript>
    </event>
    <event>
        <id>20160725171245865</id>
        <name>FORM_HOT</name>
        <type>1</type>
        <descript>热门</descript>
    </event>
    <event>
        <id>20160727163619964</id>
        <name>REQ_HERO_DATA</name>
        <type>1</type>
        <descript>获取列表数据</descript>
    </event>
    <event>
        <id>20160727163656043</id>
        <name>REP_HERO_DATA</name>
        <type>1</type>
        <descript>返回应用信息列表</descript>
    </event>
    <event>
        <id>20160728152907195</id>
        <name>REQ_CONVERT_DB</name>
        <type>1</type>
        <descript>转化数据</descript>
    </event>
    <event>
        <id>20160728160203066</id>
        <name>REP_CONVERT_DB</name>
        <type>1</type>
        <descript>转化数据结束</descript>
    </event>
    <event>
        <id>20160729093153384</id>
        <name>REP_CONVERT_DB_FAIL</name>
        <type>1</type>
        <descript>转化数据失败</descript>
    </event>
    <event>
        <id>20160803135920668</id>
        <name>REQ_HERO_SQLITE</name>
        <type>2</type>
        <descript>获取英雄数据从数据库</descript>
    </event>
    <event>
        <id>20160803140006660</id>
        <name>REP_HERO_SQLITE</name>
        <type>1</type>
        <descript>返回数据</descript>
    </event>
    <event>
        <id>20160803161011052</id>
        <name>REQ_CONVERT_HERO_DB</name>
        <type>1</type>
        <descript>json保存到数据库</descript>
    </event>
    <event>
        <id>20160803161106410</id>
        <name>REP_CONVERT_HERO_DB</name>
        <type>1</type>
        <descript>json保存到数据库返回</descript>
    </event>
</events>
