<?xml version="1.0" encoding="UTF-8"?>
<events>
    <event>
        <id>20160819144029100</id>
        <name>REQ_NONE</name>
        <type>1</type>
        <descript>空事件</descript>
    </event>
    <event>
        <id>20160819144029122</id>
        <name>REQ_LOGIN</name>
        <type>1</type>
        <descript>登录</descript>
    </event>
    <event>
        <id>20160819144114899</id>
        <name>REP_LOGIN_FAIL</name>
        <type>1</type>
        <descript></descript>
    </event>
    <event>
        <id>20160819144138890</id>
        <name>REQ_LOGIN_SUCCESS</name>
        <type>1</type>
        <descript></descript>
    </event>
    <event>
        <id>20160819144658561</id>
        <name>REQ_DATA_INIT</name>
        <type>1</type>
        <descript>数据初始化</descript>
    </event>
    <event>
        <id>20160819144733521</id>
        <name>REQ_FORM_LOGIN</name>
        <type>1</type>
        <descript>登录页</descript>
    </event>
    <event>
        <id>20160819144749344</id>
        <name>REQ_FORM_MAIN</name>
        <type>1</type>
        <descript>首页</descript>
    </event>
    <event>
        <id>20160824154639178</id>
        <name>REQ_NAVBAR_INIT</name>
        <type>1</type>
        <descript>设置导航栏信息</descript>
    </event>
    <event>
        <id>20160826153841357</id>
        <name>REQ_FORM_FLASH</name>
        <type>1</type>
        <descript>启动页</descript>
    </event>
    <event>
        <id>20160829091942957</id>
        <name>REQ_REPORT_DATA_LIST</name>
        <type>1</type>
        <descript>获取bpo上报列表</descript>
    </event>
    <event>
        <id>20160829092033207</id>
        <name>REP_REPORT_DATA_LIST_SUCCESS</name>
        <type>1</type>
        <descript>获得列表成功</descript>
    </event>
    <event>
        <id>20160829092101069</id>
        <name>REP_REPORT_DATA_LIST_FAIL</name>
        <type>1</type>
        <descript>获取列表失败</descript>
    </event>
    <event>
        <id>20160830105936680</id>
        <name>REQ_FORM_REPORT_LIST</name>
        <type>1</type>
        <descript>上报列表页面</descript>
    </event>
    <event>
        <id>20160830142133249</id>
        <name>REQ_FORM_BACK</name>
        <type>1</type>
        <descript>页面返回</descript>
    </event>
    <event>
        <id>20160830170036678</id>
        <name>REQ_FORM_REPORT_DETAIL</name>
        <type>1</type>
        <descript>上报数据详情</descript>
    </event>
    <event>
        <id>20160830170303506</id>
        <name>REQ_FORM_REPORT_ADD</name>
        <type>1</type>
        <descript>上报数据添加页面</descript>
    </event>
    <event>
        <id>20160830170534710</id>
        <name>REQ_REPORT_SAVE</name>
        <type>1</type>
        <descript>上报数据保存</descript>
    </event>
    <event>
        <id>20160830170618157</id>
        <name>REP_REPORT_SAVE_SUCCESS</name>
        <type>1</type>
        <descript>上报数据保存成功</descript>
    </event>
    <event>
        <id>20160830170649220</id>
        <name>REP_REPORT_SAVE_FAIL</name>
        <type>1</type>
        <descript>上报数据保存失败</descript>
    </event>
    <event>
        <id>20160830170753360</id>
        <name>REQ_FORM_SETTING</name>
        <type>1</type>
        <descript>设置页面</descript>
    </event>
    <event>
        <id>20160831110849493</id>
        <name>REQ_REPORT_DETAIL</name>
        <type>1</type>
        <descript>获取详情信息</descript>
    </event>
    <event>
        <id>20160831110923987</id>
        <name>REP_REPORT_DETAIL_SUCCESS</name>
        <type>1</type>
        <descript>获取详细信息成功</descript>
    </event>
    <event>
        <id>20160831110943051</id>
        <name>REP_REPORT_DETAIL_FAIL</name>
        <type>1</type>
        <descript>获取详细信息</descript>
    </event>
    <event>
        <id>20160831135753254</id>
        <name>REP_REPORT_DETAIL_BASE</name>
        <type>1</type>
        <descript>上报基本信息</descript>
    </event>
    <event>
        <id>20160831135754758</id>
        <name>REP_REPORT_DETAIL_PRISE</name>
        <type>1</type>
        <descript>上报价格信息</descript>
    </event>
    <event>
        <id>20160831135755311</id>
        <name>REP_REPORT_DETAIL_COMMENT</name>
        <type>1</type>
        <descript>上报审批流程</descript>
    </event>
    <event>
        <id>20160901165143937</id>
        <name>REQ_CENTER_INFO</name>
        <type>1</type>
        <descript>按月份请求中心数据</descript>
    </event>
    <event>
        <id>20160901165221065</id>
        <name>REP_CENTER_INFO_SUCCESS</name>
        <type>1</type>
        <descript>按月份请求中心数据成功</descript>
    </event>
    <event>
        <id>20160901165236464</id>
        <name>REP_CENTER_INFO_FAIL</name>
        <type>1</type>
        <descript>按月份请求中心数据失败</descript>
    </event>
    <event>
        <id>20160901170321566</id>
        <name>REQ_PRODUCT</name>
        <type>1</type>
        <descript>按照中心代码获取产品信息</descript>
    </event>
    <event>
        <id>20160901170430396</id>
        <name>REP_PRODUCT_SUCCESS</name>
        <type>1</type>
        <descript>按照中心代码获取产品信息成功</descript>
    </event>
    <event>
        <id>20160901170431076</id>
        <name>REP_PRODUCT_FAIL</name>
        <type>1</type>
        <descript>按照中心代码获取产品信息成功</descript>
    </event>
    <event>
        <id>20160902090431744</id>
        <name>REQ_AFFIRM</name>
        <type>1</type>
        <descript>获取确认类型</descript>
    </event>
    <event>
        <id>20160902090522695</id>
        <name>REP_AFFIRM_SUCCESS</name>
        <type>1</type>
        <descript>获取确认类型</descript>
    </event>
    <event>
        <id>20160902090546342</id>
        <name>REP_AFFIRM_FAIL</name>
        <type>1</type>
        <descript>获取确认类型</descript>
    </event>
    <event>
        <id>20160902092103476</id>
        <name>REQ_CONTRACT</name>
        <type>1</type>
        <descript>获取合同信息</descript>
    </event>
    <event>
        <id>20160902092130491</id>
        <name>REP_CONTRACT_SUCCESS</name>
        <type>1</type>
        <descript>获取合同信息成功</descript>
    </event>
    <event>
        <id>20160902092130955</id>
        <name>REP_CONTRACT_FAIL</name>
        <type>1</type>
        <descript>获取合同信息失败</descript>
    </event>
    <event>
        <id>20160902092619675</id>
        <name>REP_AMOUNT_SUCCESS</name>
        <type>1</type>
        <descript>获取合同信息收款类型</descript>
    </event>
    <event>
        <id>20160902094721351</id>
        <name>REP_AMOUNT_ITEM</name>
        <type>1</type>
        <descript>获取合同信息收款条目</descript>
    </event>
    <event>
        <id>20160902140637744</id>
        <name>REQ_FORM_REPORT_ADD2</name>
        <type>1</type>
        <descript>上报数据添加页面2</descript>
    </event>
    <event>
        <id>20160902140726854</id>
        <name>REQ_FORM_REPORT_ADD3</name>
        <type>1</type>
        <descript>上报数据添加页面3</descript>
    </event>
    <event>
        <id>20160906085952694</id>
        <name>REQ_QUIT_LOGIN</name>
        <type>1</type>
        <descript>退出登录</descript>
    </event>
    <event>
        <id>20160907092356149</id>
        <name>REQ_REPORT_EDIT</name>
        <type>1</type>
        <descript>修改上报数据</descript>
    </event>
    <event>
        <id>20160907105923990</id>
        <name>REQ_REPORT_ADD</name>
        <type>1</type>
        <descript>添加上报数据</descript>
    </event>
    <event>
        <id>20160907151253303</id>
        <name>REQ_DIALOG_INFO</name>
        <type>1</type>
        <descript>消息提示框</descript>
    </event>
    <event>
        <id>20160908135406884</id>
        <name>REQ_FORM_UPLOAD</name>
        <type>1</type>
        <descript>附件上传页面</descript>
    </event>
    <event>
        <id>20160908152306483</id>
        <name>REQ_UPLOAD</name>
        <type>1</type>
        <descript>上传附件</descript>
    </event>
    <event>
        <id>20160908153941950</id>
        <name>REP_UPLOAD_SUCCESS</name>
        <type>1</type>
        <descript>上传附件</descript>
    </event>
    <event>
        <id>20160908153942518</id>
        <name>REP_UPLOAD_FAIL</name>
        <type>1</type>
        <descript>上传附件</descript>
    </event>
    <event>
        <id>20160913141419443</id>
        <name>REQ_DELETE_FILE</name>
        <type>1</type>
        <descript>删除文件</descript>
    </event>
    <event>
        <id>20160913141425820</id>
        <name>REP_DELETE_FILE_SUCCESS</name>
        <type>1</type>
        <descript>删除文件</descript>
    </event>
    <event>
        <id>20160913141535858</id>
        <name>REP_DELETE_FILE_FAIL</name>
        <type>1</type>
        <descript>删除文件</descript>
    </event>
    <event>
        <id>20160913142059936</id>
        <name>REQ_COMMIT</name>
        <type>1</type>
        <descript>提交</descript>
    </event>
    <event>
        <id>20160913142102353</id>
        <name>REP_COMMIT_FAIL</name>
        <type>1</type>
        <descript>提交</descript>
    </event>
    <event>
        <id>20160913143953585</id>
        <name>REP_COMMIT_SUCCESS</name>
        <type>1</type>
        <descript>提交</descript>
    </event>
    <event>
        <id>20160913151004387</id>
        <name>REQ_TOAST</name>
        <type>1</type>
        <descript>提示信息</descript>
    </event>
    <event>
        <id>20160913151212207</id>
        <name>REQ_WAITTING_SHOW</name>
        <type>1</type>
        <descript>等待框</descript>
    </event>
    <event>
        <id>20160913152435309</id>
        <name>REQ_WAITTING_HIDE</name>
        <type>1</type>
        <descript>隐藏等待框</descript>
    </event>
    <event>
        <id>20160913161239168</id>
        <name>REP_REPORT_DETAIL_FILES</name>
        <type>1</type>
        <descript>详细信息附件列表</descript>
    </event>
    <event>
        <id>20160914100405257</id>
        <name>REQ_COMMIT_SURE</name>
        <type>1</type>
        <descript>提交前确认</descript>
    </event>
    <event>
        <id>20160914112446241</id>
        <name>REQ_DIALOG_SURE</name>
        <type>1</type>
        <descript>弹出确认对话框</descript>
    </event>
    <event>
        <id>20160920090310416</id>
        <name>REQ_REPORT_DATA_LIST_NEW</name>
        <type>1</type>
        <descript>下拉刷新</descript>
    </event>
    <event>
        <id>20160920090407303</id>
        <name>REQ_REPORT_DATA_LIST_NEXT</name>
        <type>1</type>
        <descript>下一页</descript>
    </event>
    <event>
        <id>20160920110003924</id>
        <name>REQ_CHECK_VERSION</name>
        <type>1</type>
        <descript>版本检测</descript>
    </event>
    <event>
        <id>20160920110507940</id>
        <name>REQ_UPDATE_VERSION</name>
        <type>1</type>
        <descript>更新版本</descript>
    </event>
</events>
